@model IEnumerable<PizzeriApp.DettagliOrdine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ordini.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pizza.NomePizza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordini.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pizza.NomePizza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantita)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDdettagliOrdine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDdettagliOrdine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDdettagliOrdine })
        </td>
    </tr>
}

</table>
